.btn {
  color: var(--color-white);
  background: var(--color-primary-dark);
  padding: 5px 15px;
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
  border-radius: 5px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.1s;

  &:disabled {
    pointer-events: none;
    background: #c2c2c2;
  }

  &.isWide {
    display: block;
    width: 100%;
  }

  &:hover {
    opacity: 0.8;
  }
}
