.kv {
  background-image: linear-gradient(0deg, #e5f6fd -20%, #fafdff 85%, white 100%);
  padding: 200px 0;
  text-align: center;
}

.title {
  color: var(--color-text-dark);
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  text-align: center;
}

.buttonWrap {
  padding: 0 15px;
  margin-top: 40px;
}

.signupWrap {
  padding: 0 15px;
  margin-top: 40px;
  max-width: 600px;
  margin: 40px auto 0;
}
